@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
 
 


html::-webkit-scrollbar {
  border-radius: 50px;
  width: 7px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(59 130 246);
}

html::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background-color: rgb(37 99 235);
} 